<div class="text-center">
  <h1>Welcome</h1>
  <h3><%= link_to "Add a cocktail", new_cocktail_path, class: "btn btn-danger"%></h3>
</div>



<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4">
      <%= link_to "Delete", cocktail_path(cocktail), method: :delete %>
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_url_with_default(cocktail.photo, height: 300, width: 400, crop: :fill) %>')">
          <div class="card-category"><%= link_to cocktail.name, cocktail_path(cocktail) %></div>
        </div>
      </div>
    <%end %>
  </div>
</div>
